/target/
/.classpath
/.project
/cloudsocket_old.ttl
/transformationOutput.ttl
/.DS_Store
/00_output_transformationData.ttl
/01_output_InitialModelData.ttl
/02_output_TransformedData.ttl
/03_output_InferencedData.ttl
/modelOutput.ttl
/dependency-reduced-pom.xml
/04_output_InferencedModelCombined.ttl
